.container.small {
	width: 100%;
	padding: 14px 18px;
	margin: 10px 0 20px 0;
	border-radius: 14px;
	border: 2px solid #edf2f7;
	background: #f8fafc;
	font-size: 16px;
	transition: all 0.3s ease;
	box-sizing: border-box;
}
.container.mini {
	width: 100%;
	padding: 10px 10px;
	margin: 0 0 5px 0;
	border-radius: 14px;
	border: 2px solid #edf2f7;
	background: #f8fafc;
	font-size: 16px;
	transition: all 0.3s ease;
	box-sizing: border-box;
}
.top-btn-img.small {
	transform: scale(0.7);
}

.top-btn-img.flip {
	transform: scaleX(-1) scale(0.7);
}

.cols {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 5px
}

.cols.ore {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 5px
}

.daysNames {
	font-weight: bold;
	text-align: center
}

.cell {
	width: 100%;
	border-radius: 10px;
	font-size: 16px;
	box-sizing: border-box;
	top: 10px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	aspect-ratio: 1 / 1;
	overflow: hidden;
}
.cell.ore {
	aspect-ratio: 1/0.8;
}

.al{
	align-content: center
}
.label-sel {
	grid-column: 1
}

.my-select-container {
	width: 100%;
	margin:5px;
	grid-column: 2
}

.my-select__control {
	width: 100% !important;
	min-height: unset !important;
	padding: 2px 8px !important;
	border-radius: 14px !important;
	border: 2px solid #edf2f7 !important;
	background: #f8fafc !important;
	font-size: 14px !important;
	transition: all 0.3s ease !important;
	box-sizing: border-box !important;
	box-shadow: none !important;
}

.cont-pren {
	display: grid;
	grid-template-columns: 1fr 3fr;
	column-gap: 20px;
	row-gap: 10px;
	align-items: center;
}
.cont-pren.elenco {
	grid-template-columns: 1fr 3fr;	
	column-gap: 10px;
}

.cont-sel {
	display: grid;
	grid-template-columns: 1fr 4fr;
	row-gap: 10px;
	align-items: center;
}

.input-row-pren {
	display: contents;
}

.pren-label {
	grid-column: 1;
	font-size: 1rem;
	color: #3d3d3d;
	white-space: nowrap;
	text-align: right
}

.pren-val {
	grid-column: 2;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-size: 1.2rem;
	word-break: break-word;
	text-align: left
}
.info-display {
	font-size: 15px;
	letter-spacing: 0.02em;
}

.info-pren {
	color: #3d3d3d;
	text-align: center;
	font-size: 0.8rem;
	padding: 0 0 4px 0
}
