.unselectable {
   
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}

.container.mini {
	
	cursor: pointer;    
	-webkit-tap-highlight-color: transparent;
}
